<h1>Stupid Coach</h1>

<div>
<p><strong>You</strong><br>--> <%= @question %></p>
</div>

<div>
<p><strong>Stupid Coach</strong><br>--> <%= @post %></p>
</div>
<br>
<%= link_to "Try again my friend", "ask" %>
